.vs

# compiled files
obj
bin
# user files
.user
.suo
/MSS.Platform.ProcessApp/*.user
/MSS.Platform.ProcessApp/Properties/PublishProfiles/*.user
/MSS.Platform.ProcessApp/Properties/PublishProfiles/*.pubxml
/MSS.API.Ids
